.vscode
.env
*kubeconfig.yaml
/venv
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.env
.docker/
/configs

# Python
__pycache__
app.egg-info
*.pyc
*.pyt
.mypy_cache
.coverage
htmlcov
.venv
*.log
